<div class="my_sidebar">

    <ul class="list-unstyled">
	
	    <div class="logo">
		    <img src="assets/images/logo.png" class="img-fluid img_logo"/>
		</div>
		
	    <li class="side_list_element text-center">
		    <div class="user">
			    <img src="assets/images/user_img.jpg" class="img-fluid img_user"/>
			</div>
			<div class="">
			    <h5 class="m_name"> Rohan Ram </h5>
                <p> Pinnacle Company </p>				
			</div>
		</li>
		
		<li class="side_list_element text-center">
		    <span class="left_icons">
			    <i class="fas fa-folder-open fa-2x"></i>
			</span>
			<p> Groups </p>
		</li>
		
		<li class="side_list_element text-center">
		    <span class="left_icons">
			    <i class="fas fa-folder fa-2x"></i>
			</span>
			<p> Projects </p>
		</li>
		
		<li class="side_list_element text-center">
		    <span class="left_icons">
			    <i class="fab fa-wpforms fa-2x"></i>
			</span>
			<p> Forms </p>
		</li>
		
		<li class="side_list_element text-center">
		    <span class="left_icons">
			    <i class="fas fa-cog fa-2x"></i>
			</span>
			<p> Settings </p>
		</li>
		
		<li class="side_list_element text-center">
		    <span class="left_icons">
			    <i class="fas fa-map-marked-alt fa-2x"></i>
			</span>
			<p> Maps & Data View </p>
		</li>
	</ul>

</div>